// Apple’s iOS Human Interface Guidelines palette from
// https://developer.apple.com/ios/human-interface-guidelines/visual-design/color/

$color-red:       #FF3B30;
$color-orange:    #FF9500;
$color-yellow:    #FFCC00;
$color-green:     #4CD964;
$color-teal-blue: #5AC8FA;
$color-blue:      #007AFF;
$color-purple:    #5856D6;
$color-pink:      #FF2D55;