// Farrow & Ball palette, derived from
// http://www.farrow-ball.com/colours/paint/fcp-category/list

$color-all-white:            #FDFBFC;
$color-wevet:                #F8F5EE;
$color-wimborne-white:       #FFFFFF;
$color-pointing:             #FDFEED;
$color-james-white:          #F3F0E2;
$color-clunch:               #EFE8D9;
$color-white-tie:            #F4EDDE;
$color-new-white:            #EFE9D2;
$color-house-white:          #F0E9CD;
$color-matchstick:           #F1E6CB;
$color-string:               #E5D3A5;
$color-cord:                 #D6C6A0;
$color-shadow-white:         #D5CEBD;
$color-shaded-white:         #E5D9C2;
$color-drop-cloth:           #BDB4A4;
$color-tallow:               #FFF6D8;
$color-savage-ground:        #D7C6A4;
$color-salon-drab:           #675D54;
$color-dimity:               #EAE1D3;
$color-joas-white:           #DDCDAE;
$color-archive:              #E1CFAA;
$color-oxford-stone:         #CFBBA0;
$color-smoked-trout:         #CCB6A5;
$color-london-stone:         #BDAB94;
$color-slipper-satin:        #F0E8DE;
$color-lime-white:           #F4ECD8;
$color-off-white:            #F5ECCE;
$color-old-white:            #D6CFB3;
$color-light-gray:           #BCAF9D;
$color-mouses-back:          #A89B89;
$color-strong-white:         #F0EEE2;
$color-ammonite:             #E4E1D3;
$color-cornforth-white:      #E1DDD4;
$color-purbeck-stone:        #C5C2B9;
$color-worsted:              #9A9790;
$color-moles-breath:         #9A9790;
$color-stony-ground:         #D9CAAD;
$color-bone:                 #D8D3B6;
$color-cromarty:             #C5C5BA;
$color-mizzle:               #BFC2A8;
$color-blue-gray:            #BEC3B0;
$color-pigeon:               #B9BEAB;
$color-blackened:            #EEE6DC;
$color-dimpse:               #DEE0D3;
$color-pavilion-gray:        #C1B9AD;
$color-french-gray:          #B7B4A2;
$color-hardwick-white:       #D5CDB7;
$color-lamp-room-gray:       #BABAAF;
$color-skimming-stone:       #E9E2D1;
$color-elephants-breath:     #D3CABC;
$color-dove-tale:            #AF9C8C;
$color-charleston-gray:      #98887A;
$color-london-clay:          #905445;
$color-brinjal:              #503438;
$color-great-white:          #EAEAE2;
$color-peignoir:             #CEBFBA;
$color-cinder-rose:          #C69A96;
$color-pink-ground:          #F5E2D8;
$color-setting-plaster:      #ECD8C4;
$color-dead-salmon:          #C3A999;
$color-middleton-pink:       #FCE8E2;
$color-calamine:             #F5E2DE;
$color-nancys-blushes:       #F9C0C0;
$color-red-earth:            #B6694C;
$color-picture-gallery-red:  #8F473B;
$color-incarnadine:          #782F27;
$color-rectory-red:          #891B2D;
$color-eating-room-red:      #60291E;
$color-radicchio:            #893738;
$color-book-room-red:        #BD785A;
$color-charlottes-locks:     #DB5F2F;
$color-blazer:               #AC3933;
$color-pale-hound:           #ECE7BD;
$color-dayroom-yellow:       #F6E18B;
$color-yellowcake:           #EBEA83;
$color-citron:               #FAD763;
$color-yellow-ground:        #F1C961;
$color-babouche:             #F5BE3B;
$color-ringwold-ground:      #F9E7D4;
$color-farrows-cream:        #F3E3AC;
$color-dorset-cream:         #EFD391;
$color-hay:                  #D9C48A;
$color-sudbury-yellow:       #D2B05F;
$color-india-yellow:         #CD9144;
$color-tunsgate-green:       #EFEECD;
$color-green-ground:         #E8E7CA;
$color-cooking-apple-green:  #CAD4AD;
$color-ball-green:           #B9B495;
$color-card-room-green:      #73806F;
$color-green-smoke:          #636F65;
$color-churlish-green:       #BCAA66;
$color-yeabridge-green:      #889974;
$color-breakfast-room-green: #839B7A;
$color-calke-green:          #6C7756;
$color-arsenic:              #82B593;
$color-studio-green:         #363C3C;
$color-vert-de-terre:        #BBBDA0;
$color-lichen:               #99A186;
$color-teresas-green:        #B0C1B1;
$color-dix-blue:             #ABC0B3;
$color-vardo:                #427D7F;
$color-stone-blue:           #769194;
$color-cabbage-white:        #ECF3EC;
$color-pavilion-blue:        #EBEBD4;
$color-pale-powder:          #D0D9C9;
$color-green-blue:           #9EAF9F;
$color-oval-room-blue:       #7B8E8D;
$color-inchyra-blue:         #526365;
$color-borrowed-light:       #DBE5DC;
$color-skylight:             #C4C9C5;
$color-light-blue:           #CFD7CC;
$color-parma-gray:           #CBD7D7;
$color-lulworth-blue:        #ABBEBF;
$color-cooks-blue:           #66839A;
$color-blue-ground:          #A1D2CD;
$color-st-giles-blue:        #58ABC5;
$color-pitch-blue:           #535F7D;
$color-drawing-room-blue:    #2E3548;
$color-stiffkey-blue:        #4A606E;
$color-hague-blue:           #2C3437;
$color-calluna:              #D9D8DD;
$color-brassica:             #787274;
$color-pelt:                 #4D3A40;
$color-manor-house-gray:     #ADADA2;
$color-plummett:             #979CA0;
$color-down-pipe:            #6D6D6D;
$color-mahogany:             #41363A;
$color-tanners-brown:        #413535;
$color-railings:             #36393E;
$color-black-blue:           #2F3535;
$color-off-black:            #313639;
$color-pitch-black:          #2A2829;