// Trello’s palette from
// https://trello.com/about/branding#colors

$color-trello-blue-50:    #E4F0F6;
$color-trello-blue-100:   #BCD9EA;
$color-trello-blue-200:   #8BBDD9;
$color-trello-blue-300:   #5BA4CF;
$color-trello-blue-400:   #298FCA;
$color-trello-blue-500:   #0079BF;
$color-trello-blue-600:   #026AA7;
$color-trello-blue-700:   #055A8C;
$color-trello-blue-800:   #094C72;
$color-trello-blue-900:   #0C3953;

$color-green-50:          #EEF6EC;
$color-green-100:         #D6ECD2;
$color-green-200:         #B7DDB0;
$color-green-300:         #99D18F;
$color-green-400:         #7BC86C;
$color-green-500:         #61BD4F;
$color-green-600:         #5AAC44;
$color-green-700:         #519839;
$color-green-800:         #49852E;
$color-green-900:         #3F6F21;

$color-orange-50:         #FDF5EC;
$color-orange-100:        #FCE8D2;
$color-orange-200:        #FAD8B0;
$color-orange-300:        #FDC788;
$color-orange-400:        #FFB968;
$color-orange-500:        #FFAB4A;
$color-orange-600:        #E99E40;
$color-orange-700:        #D29034;
$color-orange-800:        #BB8129;
$color-orange-900:        #A0711C;

$color-red-50:            #FBEDEB;
$color-red-100:           #F5D3CE;
$color-red-200:           #EFB3AB;
$color-red-300:           #EC9488;
$color-red-400:           #EF7564;
$color-red-500:           #EB5A46;
$color-red-600:           #CF513D;
$color-red-700:           #B04632;
$color-red-800:           #933B27;
$color-red-900:           #6E2F1A;

$color-yellow-50:         #FDFAE5;
$color-yellow-100:        #FAF3C0;
$color-yellow-200:        #F5EA92;
$color-yellow-300:        #F3E260;
$color-yellow-400:        #F5DD29;
$color-yellow-500:        #F2D600;
$color-yellow-600:        #E6C60D;
$color-yellow-700:        #D9B51C;
$color-yellow-800:        #CCA42B;
$color-yellow-900:        #BD903C;

$color-purple-50:         #F7F0FA;
$color-purple-100:        #EDDBF4;
$color-purple-200:        #DFC0EB;
$color-purple-300:        #D5A6E6;
$color-purple-400:        #CD8DE5;
$color-purple-500:        #C377E0;
$color-purple-600:        #A86CC1;
$color-purple-700:        #89609E;
$color-purple-800:        #6C547B;
$color-purple-900:        #484553;

$color-pink-50:           #FEF2F9;
$color-pink-100:          #FCDEF0;
$color-pink-200:          #FAC6E5;
$color-pink-300:          #FFB0E1;
$color-pink-400:          #FF95D6;
$color-pink-500:          #FF80CE;
$color-pink-600:          #E76EB1;
$color-pink-700:          #CD5A91;
$color-pink-800:          #B44772;
$color-pink-900:          #96304C;

$color-sky-50:            #E4F7FA;
$color-sky-100:           #BDECF3;
$color-sky-200:           #8FDFEB;
$color-sky-300:           #5DD3E5;
$color-sky-400:           #29CCE5;
$color-sky-500:           #00C2E0;
$color-sky-600:           #00AECC;
$color-sky-700:           #0098B7;
$color-sky-800:           #0082A0;
$color-sky-900:           #006988;

$color-lime-50:           #ECFBF3;
$color-lime-100:          #D3F6E4;
$color-lime-200:          #B3F1D0;
$color-lime-300:          #90ECC1;
$color-lime-400:          #6DECA9;
$color-lime-500:          #51E898;
$color-lime-600:          #4FD683;
$color-lime-700:          #4DC26B;
$color-lime-800:          #4CAF54;
$color-lime-900:          #4A9839;

$color-light-gray-50:     #F8F9F9;
$color-light-gray-100:    #EDEFF0;
$color-light-gray-200:    #E2E4E6;
$color-light-gray-300:    #D6DADC;
$color-light-gray-400:    #CDD2D4;
$color-light-gray-500:    #C4C9CC;
$color-light-gray-600:    #B6BBBF;
$color-light-gray-700:    #A5ACB0;
$color-light-gray-800:    #959DA1;
$color-light-gray-900:    #838C91;

$color-business-blue-50:  #EDEFF4;
$color-business-blue-100: #D2D7E5;
$color-business-blue-200: #B2B9D0;
$color-business-blue-300: #838FB5;
$color-business-blue-400: #6170A1;
$color-business-blue-500: #42548E;
$color-business-blue-600: #3E4D80;
$color-business-blue-700: #3A476F;
$color-business-blue-800: #36405F;
$color-business-blue-900: #30364C;